name: Hellow world workflow

on:
	push:
		branches: 
			-main
	pull_request:
		branches:
			-main
	workflow_dispatch:


jobs:
	hello:
		runs-on: ubuntu-latest
		steps:
			-uses: actions/checkout@v2
			-name: hello world
			run: echo "this is my first pipeline"
			shell: bash

	goodbye:
		runs-on: ubuntu-latest
		steps: 
			-name: goodbye
			run: echo "bye to the first pipeline"
			shell: bash


	
	
